@use 'colors';

// section
.summary {
    font-size: 1.25em;
    margin-top: 38px;
    margin-bottom: 32px;
    color: colors.$black;
    padding: 0 0.625em;

    @media screen and (min-width: 1025px) {
        width: 66.667%;
    }

    @media print {
        margin-top: 12px;
        margin-bottom: 24px;
        width: 75%;
    }
}
