@use 'colors';
@use 'fonts';
@use 'grid';
@use 'easing';

// small
.filter-label {
    display: block;
    color: colors.$steelBlue;
    margin: 2em 0 0.5em;
    padding: 6px 5em;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

// div
.playlist-filters {
    color: colors.$black;
    display: flex;
    margin: 0 0 1em;
    padding: 0 0 1em;
    color: colors.$blueViolet;
    overflow-x: scroll;
    overflow-y: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 32vw;
    gap: 4px;

    &:after {
        position: static;
        content: '\00a0';
        display: inline-block;
        width: 36px;
        min-width: 36px;
        height: 4px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 0;
        margin: 2em 0 1em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        overflow: initial;

        // &:after {
        //     content: none;
        // }
    }
}

.svg-wrap {
    width: 24px;
    height: 24px;
    margin: auto;
}

.clear-button {
    // justifySelf: 'start;
    align-self: center;
    display: flex;
    font-size: fonts.$body;
    cursor: pointer;
    margin: 4px 12px;
    padding: 0;
    border: none;
    width: 32px;
    height: 24px;
    align-self: center;
    background: transparent;
    color: colors.$black;
    position: relative;

    @media screen and (min-width: 768px) {
        justify-self: end;
        align-self: center;
        width: 18px;
        height: 18px;
    }
}

// div
.playlist-wWrap {
    position: relative;
    transition: all 1s ease;
}

// button
.filter-option {
    background-color: transparent;
    border: none;
    border-radius: 4px 4px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.5s easing.$out-circ;
    font-size: fonts.$mobile-body;
    color: colors.$white;
    padding: 0.5em 1em;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.active {
        color: colors.$white;
        background-color: colors.$orangePeel;

        &:hover {
            background-color: colors.$orangePeel;
        }
    }

    @media screen and (min-width: 768px) {
        font-size: fonts.$body;
    }
}

.container {
    // @extend %container;
}

.grid-playlist {
    @extend %grid-playlist;

    margin-bottom: 2em;
}
