@use 'grid';

$blog-padding-x: 1.5em;

.page-title {
    display: none;
}

.button-back {
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 0.5em;
    color: var(--turquoise);
    background-color: var(--blue-violet);
    transition: all 0.125s ease-out;
    // margin-bottom: 1em;

    &:visited {
        color: var(--turquoise);
        background-color: var(--blue-violet);
    }

    &:active,
    &:hover {
        background-color: var(--turquoise);
        color: var(--blue-violet);
    }

    svg {
        position: relative;
        left: -1px;
    }
}

.container {
    @extend %container;

    &.blog-index {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
        justify-content: center;
        margin-bottom: 2em;
        // padding to offset skewed cards
        padding-block: clamp(42px, 10%, 120px); // 42px;

        @media screen and (min-width: 768px) {
            grid-gap: 32px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1025px) {
            max-width: 1440px;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 24px;
        }

        @media screen and (min-width: 1440px) {
            max-width: 1800px;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 24px;
        }
    }
}

.blog-card {
    // border-top: 1px solid rgb(0 0 0 / 0.125);
    // border-bottom: 1px solid rgb(0 0 0 / 0.125);
    // margin-top: -32px;
    padding: 3em $blog-padding-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-top: 48px;
    // border-radius: 0 0 32px 32px;
    transition: all 0.25s ease-in-out;

    &:hover {
        background-image: linear-gradient(
            160deg,
            var(--turquoise-dark),
            var(--neon-green)
        );
        text-decoration: none;
    }
    background-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(
        160deg,
        var(--turquoise),
        var(--neon-green)
    );
    background-blend-mode: lighten;
    transform: rotate(-5deg) skew(-5deg);

    .card-contents {
        transform: rotate(5deg) skew(5deg);
    }

    .date {
        text-transform: uppercase;
    }
    .title {
        margin: 0 0 0.825em;
        line-height: 0.9;
        text-transform: uppercase;
        font-size: 32px;

        @media (min-width: 768px) {
            font-size: 28px;
        }
    }

    .button {
        border-radius: 2em;
        transition: all 0.125s ease-in-out;
        text-shadow: none;
        background-color: var(--blue-violet);
        color: var(--heliotrope);

        color: var(--heliotrope);
        background-color: var(--lime);

        font-weight: 700;
        font-size: 20px;

        @media (min-width: 768px) {
            font-size: 18px;
        }

        &:active,
        &:focus,
        &:hover {
            text-shadow: none;
            text-decoration: none;
            background-color: var(--lime);

            // color: #ff96e3; // var(--gray-1);
            color: var(--heliotrope);
            background-color: var(--blue-violet);
            background-color: hwb(from var(--blue-violet) h w b / 0.85);
            // background-color: hwb(from var(--blue-violet) h 12% 21%);
            // color: var(--white);
        }
    }
}

// Page lead post
.feature {
    position: relative;
    // box-shadow:
    //     rgba(50, 50, 93, 0.75) 0px 30px 60px -38px inset,
    //     rgba(0, 0, 0, 0.9) 0px 18px 36px -52px inset;
    //
    &:not(.header-index) {
        @media (max-width: 640px) {
            background-color: rgb(220 220 220 / 0.625);
            // border-radius: 24px;
            // margin-block: 2em 4em;
            // padding: 2em;

            &:before {
                content: none;
            }
        }
    }

    &:before {
        content: '';
        content: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        filter: hue-rotate(90deg);
        // contrast(20%);
        // filter: invert(25%);
        // filter: brightness(2);
        z-index: 0;
        opacity: 0.25;
        background: linear-gradient(0.55turn, transparent, #3f87a6, #c80c0c);
        // background-color: rgb(155 87 155 / 80%);
    }

    display: block;
    // color: var(--white);
    // border-bottom: 1px solid rgb(0 0 0 / 0.15);

    .container {
        position: relative;
        z-index: 1;
        padding-block: 6em 1.5em;
        margin-bottom: 1.5em;
        // padding-inline: $blog-padding-x;
        // border-bottom: 1px solid ;
        box-shadow: rgba(2, 55, 40, 0.33) 0px 25px 25px -25px;
    }

    a,
    a:active,
    a:focus,
    a:hover {
        // display: block;
        text-decoration: none;
    }

    // page title
    em {
        display: block;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
        margin: 0 0 0.25em;
    }

    // featured post title
    h2 {
        // color: hwb(from var(--white) h w b / 0.75);
        color: var(--heliotrope);
        color: hwb(from var(--blue-violet) 280 15% 9%);
        font-size: 38px;
        line-height: 1em;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0.125em;
        font-weight: 900;
        text-shadow:
            1px -1px 0 rgb(255 255 255 / 0.7),
            0 1px 0 rgb(0 0 0 / 0.8);
    }

    &:hover h2 {
        color: #ff00fb;

        // color: white;
    }

    .date {
        font-size: medium;
        // color: var(--white);
    }

    .blurb {
        p {
            margin: 0;
            padding: 0;
        }
        font-weight: normal;
        letter-spacing: -1px;
        color: var(--raspberry);
        color: var(--blue-violet);
    }
}

.header {
    margin-bottom: 2.25em;
    padding-bottom: 1.625em;
    border-bottom: 1px solid rgb(0 0 0 / 0.25);
}

.title {
    margin-bottom: 0.5em;
    color: var(--dark-blue-hover);
    font-size: 2.5em;
    font-weight: 900;
}

.date {
    color: var(--gray-2);
    // font-size: 0.875em;
}

.box {
    padding: 0.25em 2em 2em;

    @media (min-width: 640px) {
        // border-radius: 24px;
        // margin-block: 2em 4em;
        padding: 2em;
    }

    @media (min-width: 769px) {
        max-width: 90ch;
    }

    @media (min-width: 1440px) {
        margin-right: auto;
        max-width: 100ch;
    }

    .blog & {
        background-color: rgb(220 220 220 / 0.5);
        border-radius: 0;
        margin-block: 0;

        @media (min-width: 640px) {
            border-radius: 24px;
            margin-block: 2em 4em;
            // padding: 2em;
        }
    }
}

.adjacent-posts {
    background: none;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: 0.75em;
    margin-bottom: 0;
    text-shadow: none;
    // justify-content: stretch;
    // gap: 1em;

    .post-link {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.75em;

        &.next {
            flex-direction: row-reverse;
            // align-items: flex;
            justify-self: flex-start;
        }
    }

    @media (min-width: 520px) {
        .blog &.box {
            background-color: transparent;
        }
        gap: 2em;
        grid-template-columns: repeat(2, 1fr);

        .post-link {
            // display: flex;
            // align-items: center;
            // flex-direction: row;
            // gap: 0.25em;

            &.next {
                flex-direction: row;
                justify-self: flex-end;
            }
        }
    }
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    border-top: 1px solid limegreen;
    padding-top: 1em;
    margin-top: 2em;
    &:before {
        content: 'tags: ';
        // font-size: small;
        // font-weight: bold;
        color: var(--gray-2);
    }
}
.tag {
    margin: 0;
    padding: 0 1em;
    // border: 1px solid rgb(0 0 0 / 0.5);

    // box-shadow: 0 2px 1px rgb(0 0 0 / 0.1);
    // background-color: rgb(255 255 255 / 0.05);
    // color: white;
    // text-shadow: none;
    // font-weight: normal;
    border: 1px solid rgb(255 255 255 / 0.3);
    background-color: rgb(255 255 255 / 0.15);
    transition: all 0.25s ease;
    border-radius: 2em;
    font-size: 0.75em;
    text-transform: lowercase;

    color: var(--dark-blue);
    // text-shadow: -1px 1px 1px rgb(255 255 255 / 0.4);
    font-weight: 500;

    &:hover {
        border: 1px solid rgb(255 255 255 / 0.4);
        background-color: rgb(255 255 255 / 0.35);
    }
}
