@use 'fonts';
@use 'colors';
@use 'easing' as e;

.button {
    margin-top: auto;
    font-weight: normal;
    border-radius: 3em 3em;
    border-color: colors.$darkBlue;
    background-color: colors.$darkBlue;
    color: colors.$white;
    position: relative;
    overflow: hidden;
    transition: all 0.25s e.$in-out-sine;

    span {
        position: relative;
        z-index: 1;
    }

    &:hover {
        border-color: colors.$steelBlue;
        background-color: colors.$darkBlue;
    }

    // &:after {
    //     z-index: 0;
    //     content: '';
    //     position: absolute;
    //     border-radius: 100%;
    //     // background-color: colors.$white;
    //     background-color: colors.$turquoise;
    //     aspect-ratio: 1;
    //     width: 100%;
    //     opacity: 0.625;
    //     height: auto;
    //     top: -200%;
    //     left: 150%;
    //     transform: translate(0%, 0);
    //     transition: all 0.625s e.$out-expo;
    //     // transition-delay: 0.125s;
    // }

    // &:hover:after {
    //     // width: 500%;
    //     opacity: 0.625;
    //     transform: translate(-50%, -50%) scale(4.5);
    // }
}

// article
.position {
    width: 100%;
    // color: colors.$steelBlue;
    // textShadow: `1px 1px 1px ${colors.steelBlue}`,
    // margin-top: 4em;
    padding: 1em;
    position: relative;
    transform: skewY(-2deg);
    margin-block: -4px;

    justify-self: center;
    display: flex;
    flex-direction: column;
    // justify-items: stretch;
    // justify-content: stretch;

    .wrap {
        height: 100%;
        transform: skewY(2deg);
        // justify-self: center;
        display: flex;
        flex-direction: column;
    }

    background: linear-gradient(
        21deg,
        rgb(255 255 255 / 0.2),
        rgb(255 255 255 / 0.1)
    );

    &:first-of-type {
        // margin-top: 2em;
    }

    border-radius: 5px 5px;
    background-color: rgb(255 255 255 / 0.05);
    background-color: rgba(20, 154, 195, 0.3);
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.08);

    @media screen and (min-width: 768px) {
        &:first-of-type {
            // margin-top: 4em;
        }
    }

    &.open {
        grid-column: 1 / 4;
    }
    // &:after {
    //     position: absolute;
    //     content: '';
    //     height: 1px;
    //     width: 100%;
    //     opacity: 0.5;
    //     background-color: colors.$black;
    //     left: 0;
    //     bottom: 0;
    // }
    // boxShadow: `0 4px 0 rgba(0,0,0,0.25)`,

    @media print {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding-right: 4em;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 4em;

        &:first-of-type {
            margin-top: 0;
        }

        &:after {
            width: 80%;
        }
    }

    // circle wipe animation
    position: relative;
    overflow: hidden;

    &:after {
        z-index: -1;
        content: '';
        position: absolute;
        border-radius: 100%;
        background-color: colors.$white;
        aspect-ratio: 1;
        width: 100%;
        opacity: 0.825;
        height: auto;
        top: 100%;
        left: -100%;
        transform: translate(0%, 0);
        transition: all 1s e.$out-expo;
    }

    &:hover:after {
        // width: 500%;
        opacity: 0.425;
        transform: translate(-50%, -50%) scale(4.5);
    }

    .button {
        // margin-top: auto;
        // margin-bottom: 0;
        align-self: flex-start;
        // font-size: 0.85em;
        font-weight: 600;

        &:focus {
            outline: 2px solid var(--turquoise-dark);
            outline-offset: 4px;
        }

        @media (min-width: 768px) {
            font-size: initial;
            font-weight: 300;
        }
    }

    &:hover .button,
    .button:focus {
        background-color: var(--turquoise-dark);
        border-color: var(--turquoise-dark);

        &:after {
            // width: 500%;
            opacity: 0.625;
            transform: translate(-50%, -50%) scale(4.5);
        }
    }
}

//header
.role {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.25em;
    color: colors.$darkBlue;
    // color: colors.$orangePeelDark;
    // outline: 1px solid red;
    // height: 1.625em;
    text-shadow: 1px 1px rgb(150 255 150 / 0.5);
    font-weight: 700;
    // font-family: Roboto, sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;

    position: relative;
    // overflow: hidden;
    display: inline-block;
    // textShadow: `1px 1px 3px ${colors.gray2}`,
    // text-shadow: none;
    transition: all 0.25s;
    padding: 0.25em 0 0.25em 0;
    // background-image: linear-gradient(
    //     to top,
    //     black,
    //     black 50%,
    //     colors.$darkBlue 51%
    // );
    // // background-image: linear-gradient(0.5turn, #3f87a6, #ebf8e1, #f69d3c);
    // /* Clip the background to the text shape */
    // -webkit-background-clip: text; /* For WebKit browsers (Chrome, Safari) */
    // background-clip: text; /* Standard property */

    // /* Make the text transparent so the gradient background is visible */
    // -webkit-text-fill-color: transparent; /* For WebKit browsers */
    // color: transparent;

    &:after {
        content: '';
        width: 0%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.1);
        background: rgb(100 95 100 / 0.15);
        transition: all 0.25s ease;
        position: absolute;
        border-radius: 4px 4px;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &.hover {
        &:after {
            // width: 100%;
            left: 0;
        }

        // padding-left: 1em;
        padding-left: 0.25em;
        padding-right: 0;
        // padding-right: 1.1em;
    }
}

// h4
.organization {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    // font-size: fonts.$position;
    color: colors.$darkBlue;
    // text-shadow: 1px 1px rgb(255 255 255 / 0.2);
    // color: rgb(55 55 55);
    font-size: 16px;
    // margin: 0.5em 0 0.75em;
    margin: 0 0 22px;
    line-height: 20px;
}

.dates {
    display: block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 14px;
    font-style: oblique;
}

//strong
.subhead {
    display: block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 1.5em 0 0.25em;
    font-size: 0.8em;
}

// .list {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     flex-direction: column;

//     li {
//         margin: 0;
//         padding: 1em 0;
//         list-style-type: none;
//         border-bottom: 1px solid rgb(0 0 0 / 0.125);
//         &:last-child {
//             border-bottom: none;
//         }
//     }
// }

@media print {
    .list {
        width: 75%;
    }
}

.skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    // color: colors.$darkBlue;

    li {
        list-style-type: none;
        margin: 0;
        font-size: small;
        padding: 0.25em 0.5em;
        // border: 1px solid rgb(255 255 255 / 0.15);
        background: rgb(155 95 125 / 0.1);
        border-radius: 3px 3px;
    }
}

.detail {
    // border: 1px solid colors.$gray2;
    border-radius: 0.325em;
    // background-color: rgba(255 255 255 / 0.325);
    color: white;
    // padding: 1em;
}
