// $primary ['#276EF1', '#174EB6', '#9CBCF8'],
// positive: ['#07A35A', '#057C44', '#88D3B0'],

$lime: #c6ff00;
$darkBlue: #103037;
$darkBlueHover: #17515e;
$blueViolet: #402081;
$black: #111;
$white: #eee;
$gray1: #dcdcdc;
$gray2: #404040;
$neonGreen: #2bf403;
$heliotrope: #ec5aff;
$steelPink: #ff84e0;
$orangePeel: #ff9d00;
$orangePeelDark: #015a5d;
$turquoise: #51e8cf;
$turquoiseDark: #1daf97;
$steelBlue: #4984a8;
$steelBlueLight: #9ec7e0;
$raspberry: #ee2677;
$darkRaspberry: #50384b;
$link: #555;
