$small: 12px;
$body: 16px;
$position: 17.5px;
$display: 38.5px;

$mobile-small: 12px;
$mobile-body: 16px;
$mobile-display: 24px;

// font-family: 'Roboto', sans-serif;
// font-family: 'Barlow Semi Condensed', sans-serif;
%font-body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
