%container {
    position: relative;
    max-width: 86%;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 769px) {
        width: 90%;
        max-width: 1440px;
    }

    @media screen and (min-width: 1440px) {
        width: 82%;
        max-width: 1800px;
    }

    @media print {
        page-break-after: always;
    }
}

//div
.grid-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1em;
    margin-right: -1em;
    flex-wrap: wrap;
}

// div
%grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;

    @media screen and (min-width: 768px) {
        grid-gap: 32px;
        grid-template-columns: repeat(2, 1fr);
    }

    // @media screen and (min-width: 980px) {
    //     grid-gap: 32px;
    //     grid-template-columns: repeat(3, 1fr);
    // }

    @media screen and (min-width: 1025px) {
        max-width: 1440px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 1800px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
    }

    @media print {
        display: block;
    }
}

%grid-playlist {
    @extend %grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    padding-inline: 2.25em;
    margin-inline: auto;
    @media screen and (min-width: 480px) {
        padding-inline: 3em;
    }
    @media screen and (min-width: 640px) {
        // grid-gap: 32px;
        // padding-inline: 3em;
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 900px) {
        padding-inline: 4em;
    }

    @media screen and (min-width: 980px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1025px) {
        padding-inline: 5em;
        // max-width: 1440px;
        grid-template-columns: repeat(5, 1fr);
        // grid-gap: 64px;
    }
}

//div
.grid-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    grid-gap: 32px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1025px) {
        max-width: 1440px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }

    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1800px;
    }
    @media print {
        display: block;
    }
}
