/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700'); */
// @import url('https://fonts.googleapis.com/css2?family=Metrophobic');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,700,900,700italic,400italic,300italic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// barlow, roboto, lato
// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// barlow, roboto, lato, raleway, Nunito
// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// barlow, roboto, Nunito
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}
:root {
    --main-bg-color: #33fff6;
    --main-text-color: #111;
    --link: #555;
    --link-color: #555;
    --link-hover-color: #555;
    --gray-1: #dcdcdc;
    --gray-2: #404040;

    --black: #111;
    --white: #eee;
    --lime: #c6ff00;
    --orange-peel: #ff9d00;
    --raspberry: #ee2677;
    --dark-raspberry: #50384b;
    --neon-green: #2bf403;
    --neon-green-dark: #337600;
    --turquoise: #51e8cf;
    --turquoise-dark: #1daf97;
    --dark-blue: #103037;
    --dark-blue-hover: #17515e;
    --blue-violet: #402081;
    --heliotrope: #ec5aff;
    --steel-pink: #ff84e0;
    --orange-peel-dark: #015a5d;
    --steel-blue: #4984a8;
    --steel-blue-light: #9ec7e0;
}

html {
    font-size: 1em;
    line-height: 1.625em;
    height: 100%;
}

/*
    * Remove text-shadow in selection highlight: h5bp.com/i
    * These selection rule sets have to be separate.
    * Customize the background color to match your design.
    */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

ol,
ul,
li {
    margin: 0 0.25em;
    padding: 0;
    list-style-type: none;
    line-height: 1.25em;
}

/*
    * A better looking default horizontal rule
    */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
    * Remove the gap between images, videos, audio and canvas and the bottom of
    * their containers: h5bp.com/i/440
    */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
      Browse Happy prompt
      ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
    border: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #33fff6;
    color: #111;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.625em;
    position: relative;
    min-width: 320px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    @media (min-width: 640px) {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

strong {
    font-weight: 700;
}

ul,
li {
    list-style-type: circle;
    margin: 0 1.25em;
}
li {
    margin: 0.825em 0;
}

a,
a:link,
a:active,
a:hover,
a:focus {
    color: #555;
}

a {
    color: #555;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #555;
    text-decoration: underline;
}

body {
    position: relative;
    // background: #333;
    min-height: 100%;
    /* background: url(/images/ps_neutral.png); */
}

body.loading::before {
    background: url(/images/loading.gif) no-repeat center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#__next {
    display: flex;
    min-height: 100vh;
}

@media print {
    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin: 0;
    }

    html,
    body {
        background: #fff;
        overflow: visible;
    }
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
        border-bottom: 1px solid #ccc;
    }

    a[href]:after {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    /*
   * Don't show links for images, or javascript/internal links
   */

    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: '';
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    body,
    #wrapper {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 8px;
        line-height: 1.3;
    }

    #header {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    #header:before {
        content: '';
    }

    #header h1 {
        font-size: 15px;
        margin: 0;
        font-weight: bold;
    }

    #header address {
        margin: 0;
        padding: 0;
    }

    #header a {
        display: block;
        width: auto;
        clear: both;
        border-bottom: 0;
        text-decoration: none;
    }

    #summary {
        padding: 0 0 20px;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    #summary p {
        margin: 0;
        padding: 0;
    }

    .position {
        page-break-inside: avoid;
    }
    .position .role {
        font-size: 1em;
        font-weight: 700;
        text-shadow: 1px 1px 4px #fff;
        font-size: 10px;
        text-transform: none;
        margin: 0.5em 0;
    }
    .position h4 {
        margin: 0.5em 0;
        font-size: 10px;
    }
    .position .dates {
        margin: 0.5em 0;
    }

    .skillset {
        border: none;
    }

    #footer {
        border-top: 1px solid #ccc;
    }
    #print,
    #top {
        display: none;
    }

    .links article {
        margin: 2em auto;
        font-size: 9px;
        line-height: 1.4em;
    }
    .links article strong {
        text-transform: uppercase;
    }
    .links article p {
        margin: 1em auto;
    }

    .links article em {
        font-size: 9px;
    }
}
