@use 'fonts';
@use 'colors';

// article
.position {
    width: 100%;
    color: colors.$black;
    // textShadow: `1px 1px 1px ${colors.steelBlue}`,
    // margin-top: 4em;
    padding: 1em;
    position: relative;
    justify-self: center;

    background: linear-gradient(
        21deg,
        rgb(255 255 255 / 0.2),
        rgb(255 255 255 / 0.1)
    );

    &:first-of-type {
        // margin-top: 2em;
    }

    border-radius: 5px 5px;
    background-color: rgb(255 255 255 / 0.05);
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.08);

    @media screen and (min-width: 768px) {
        &:first-of-type {
            // margin-top: 4em;
        }
    }

    // &:after {
    //     position: absolute;
    //     content: '';
    //     height: 1px;
    //     width: 100%;
    //     opacity: 0.5;
    //     background-color: colors.$black;
    //     left: 0;
    //     bottom: 0;
    // }
    // boxShadow: `0 4px 0 rgba(0,0,0,0.25)`,

    @media print {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding-right: 4em;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 4em;

        &:first-of-type {
            margin-top: 0;
        }

        &:after {
            width: 80%;
        }
    }
}

//header
.role {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.25em;
    height: 1.625em;
    font-weight: 800;
    // font-family: Roboto, sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;

    position: relative;
    overflow: hidden;
    display: inline-block;
    // textShadow: `1px 1px 3px ${colors.gray2}`,
    text-shadow: none;
    transition: all 0.25s;
    padding: 0.25em 2em 0.25em 0;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.1);
        background: rgb(100 95 100 / 0.1);
        transition: all 0.25s ease;
        position: absolute;
        border-radius: 4px 4px;
        top: 0;
        left: -101%;
    }

    &.hover {
        &:after {
            left: 0;
        }

        padding-left: 1em;
        padding-right: 1.1em;
    }
}

// h4
.organization {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: fonts.$position;
    // color: rgb(33 33 33);
    color: rgb(55 55 55);
    font-size: 18px;
    margin: 0.5em 0 0.75em;
    line-height: 20px;
}

.dates {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    font-style: oblique;
}

//strong
.subhead {
    display: block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 1.5em 0 0.25em;
    font-size: 0.8em;
}

// .list {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     flex-direction: column;

//     li {
//         margin: 0;
//         padding: 1em 0;
//         list-style-type: none;
//         border-bottom: 1px solid rgb(0 0 0 / 0.125);
//         &:last-child {
//             border-bottom: none;
//         }
//     }
// }

@media print {
    .list {
        width: 75%;
    }
}

.skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    li {
        list-style-type: none;
        margin: 0;
        font-size: small;
        padding: 0.25em 0.5em;
        // border: 1px solid rgb(255 255 255 / 0.15);
        background: rgb(155 95 125 / 0.1);
        border-radius: 3px 3px;
    }
}
