@use 'colors';
@use 'grid';
@use 'easing';

#footer {
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    padding: 4rem 0;
    margin-top: auto;
    width: 100%;
    min-height: 80px;
    color: var(--steel-blue-light);
    text-shadow: none;
    font-size: small;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.row {
    @extend %container;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid transparent;
    border-color: lch(from var(--turquoise) l c h / 0.25);

    aside {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: flex-end;
    }

    @media (min-width: 768px) {
        grid-template-columns: 2fr 1fr;
    }

    @media (min-width: 980px) {
        grid-template-columns: 1fr 1fr;

        aside {
            padding-top: 1.1em;
        }
    }
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
    }

    @media (min-width: 980px) {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}

.link {
    color: var(--turquoise-dark);
    text-shadow: none;
    border-radius: 1px;

    &:hover,
    &:visited,
    &:focus,
    &:active {
        color: var(--turquoise);
        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid var(--turquoise);
        outline-offset: 4px;
    }
}

// button
.button-print {
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    text-align: center;

    // match links
    color: var(--turquoise);
    background-color: var(--dark-blue);
    border: 1px solid var(--steel-blue);

    width: 120px;
    height: 40px;
    border-radius: 8px;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;

    &:hover,
    &:focus {
        color: var(--turquoise);
        text-shadow: none;
        width: 156px;
        height: 40px;
        background-color: var(--orange-peel-dark);
        border-radius: 20px;
        padding-left: 36px;
        margin-left: -36px;

        .print-icon {
            transform: translate(0, -50%);
        }
    }

    &:focus {
        outline: 2px solid var(--turquoise);
        outline-offset: 4px;
    }

    @media print {
        display: none;
    }
}

// span
.print-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 16px;
    margin-right: 12px;
    transform: translate(-60px, -50%);
    transition: transform 0.3s easing.$in-out-sine;
}

// button
.button-top {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: var(--dark-blue);
    height: 42px;
    width: 42px;
    border: 1px solid var(--steel-blue);
    border-radius: 100%;
    transition: all 0.35s ease;
    color: var(--turquoise);
    cursor: pointer;

    .out {
        transform: translate(-50%, -60%);
    }

    .over {
        transform: translate(-50%, 200%);
    }

    &:hover,
    &:focus {
        border: 1px solid var(--steel-blue);
        background-color: var(--orange-peel-dark);

        .out {
            transform: translate(-50%, -200%);
            opacity: 0;
        }

        .over {
            opacity: 1;

            transform: translate(-50%, -60%);
        }
    }

    &:focus {
        outline: 2px solid var(--turquoise);
        outline-offset: 4px;
    }

    @media print {
        display: none;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

%icon {
    position: absolute;
    width: 54%;
    height: 54%;
    margin: auto;
    top: 54%;
    left: 50%;
}

.out {
    @extend %icon;
    opacity: 1;
    transition: all 0.3s easing.$in-out-sine;
    transform: translate(-50%, -60%);
}

.over {
    @extend %icon;
    opacity: 0;
    transition: all 0.3s easing.$in-out-sine;
    transform: translate(-50%, 200%);
}
